* text=auto
*.sh text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf
*.go text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
go.mod text eol=lf
LICENSE text eol=lf
checksums.txt text eol=lf
